body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
}

#left-frame {
    flex: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#right-frame {
    flex: 3;
    margin: 20px;
    scroll-behavior: smooth;
}

h1, h2 {
    color: #333;
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:link,
a:visited {
    color: blue;
}

a:hover {
    color: red;
    text-decoration: underline;
}

#profile-image {
    border-radius: 50%;
    width: 150px;
    border: 3px solid #ccc;
    height: 150px;
    image-orientation: center;
}

#left-frame a {
    display: block;
    padding: 10px;
    color: blue;
    transition: color 0.3s;
}

#left-frame a:visited {
    color: blue;
}

#left-frame a:hover {
    color: red;
    text-decoration: none;
}

#left-frame a:active {
    color: orange;
}

#left-frame a:target {
    font-weight: bold;
    color: red;
}

::-webkit-scrollbar {
    display: none;
}
